.wrapper {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
    padding-top: 63px;
}
a {
    text-decoration: none;
}
.logo_link {
    color: #000000;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}
.acces__color {
    color: #4BCAFF;
}
.header__logo {
    margin-bottom: 38px;
}
.header__menu__items {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding-left: 0;
}
.header__menu__item {
    list-style-type: none;
    
}
.header__menu__item:hover {
   background-color:  #222F3A;
   transition: 0.5s;
}
.header__menu__link {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 26px 35px 19px 35px;
}
   
.header__menu {
    margin-bottom: 48px;

}
.main__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.content__menu__block {
    width: 344px;
    height: 407px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;    
}
.content__items {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}
.content__link {
    display: block;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-bottom: 27px;
    padding-top: 27px;
    padding-left: 44px;
}
    
.content__link:hover {
    background-color: #DBDBDB;
    color: #000000;
    padding-left: 55px;
    transition: 0.3s;
}

.content__img__block {
    width: 885px;
    height: 832px;
    margin-left: 52px;  

}
.content__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.ramda__logo {
    padding-top: 75px;
    padding-bottom: 73px;
    padding-left: 297px;
    padding-right: 267px;
}
.ramda__logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.content__img__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.describe {
    margin-bottom: 36px;
}
.footer__content {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.footer__items {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;

}

.footer__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-right: 20px;
}
.footer__link:hover {
    color: #3181A6;
    padding-bottom: 13px;
 }
.footer__coopyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

   


    